

.home{
    @include flex();
    @include flexbox();
    @include flex-direction(column);
    width:100%;
    height:100%;
    .title{
        font-size:0.2rem;
        line-height:0.4rem;
        text-align:center;
        border-bottom:1px solid #ccc;
    }
   .nav{
       height:1rem;
       @include flexbox();
       @include justify-content(space-around);
        font-size:0.14rem;
        line-height:0.30rem;
        margin-top:0.1rem;
   }
   .or{
       @include flexbox();
       @include justify-content(center)

   }
}
   
